.graphsCard{
    padding: 3% !important;
    padding-top: 0% !important;
    margin-bottom: 4% !important;
    margin-top: 0% !important;
}

.cardHeader {
    font-size: 1.6em !important;
    padding-bottom: 2.5% !important;
}

