body {
  padding: 3% 6.5% 6.5% 6.5% !important ;
  margin-bottom: -20% !important;
  font-family: sans-serif;
}

.graphsCard{
  padding: 3% !important;
  padding-top: 0% !important;
  margin-bottom: 2% !important;
  margin-top: 0% !important;
}
.graphsCard2{
  padding: 3% !important;
  padding-top: 0% !important;
  margin-bottom: 2% !important;
  margin-top: 3% !important;
  
}

.mapCard{
  padding: 3% !important;
  padding-top: 0% !important;
  margin-bottom: 2% !important;
  margin-top: 3% !important;
  
}
.cardHeader {
  font-size: 1.6em !important;
  padding-bottom: 2.5% !important;
}

.mapCardHeader {
  font-size: 1.4em !important;
  padding-bottom: 1.5% !important;
  padding-top: 2.5% !important;
  margin-top: 0% !important;
}

.cardHeader2 {
  font-size: 1.5em !important;
  padding-bottom: 2.0% !important;
}

.menuPad{
  margin-top: 5% !important;
}

.mlCardPad{
  margin-bottom: 10% !important;
}

.mlMessagePad{
  padding-bottom: 1% !important;
}